.event-container{
    align-items: center;
    padding: 2rem 400px 2rem;
}


.event-cards{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.event-container h1{
    padding-bottom: 2rem;
    text-align: start;
    color: #272b36;
}

