.building-container{
    box-shadow: 0px 20px 50px rgba(122, 134, 153, 0.12);
    padding: 30px 30px 200px 30px;
    border-radius: 10px;
    position: relative;
    height: 460px;
    width: 528px;
    border-style: solid;
    border-width: thin;
    border-color: #bdc6d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    overflow: hidden;
}

.buttones{
    position: relative;
    z-index: 4;
    align-items: start;
    width: 10%;
}

.building-img{
    position: absolute;
    bottom: -6px;
    right: 0;
    z-index: 2;
    height: 70%;
    width: 60%;
    overflow: hidden;
}

.building-description{
    position: relative;
    z-index: 3;
    text-align: start;
    padding-bottom: 15px;
}


.building-description h4{
    font-size: 18px;
    color: #93969d;
}

.building-description p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 90%;
    font-size: 18px;
    line-height: 28px;

}

.buttones button{
    background-color: #272b36;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.building-description h3{
    font-size: 36px;
    padding-bottom: 0.5rem;
    color: #272b36;
}

.building-img img{
    height: 100%;
    width: 100%;
}

