.building-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px -5px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.building-img{
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.building-img img{
    height: 100%;
    width: 100%;
}

.building-description{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: start;
    width: 50%;
}

