.buildings-wrap h1{
    text-align: start;
    padding: 2rem 400px;
}

.buildings-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 400px 2rem;
}
