
.coecsa-container{
    border-style: solid;
    border-width: thin;
    border-color: #bdc6d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-style: solid;
    max-width: 1300px;
    margin: auto;
}

.coecsa-container img{
    object-fit: cover;
    width: 100%;
    height: auto;
}