.card-container{
    border-style: solid;
    border-width: thin;
    border-color: #bdc6d1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    width: 330px;
    height: 500px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.card-container:hover{
    transform: scale(1.1);
}

.card-title{
    font-weight: 700;
}

.card-body{
    text-align: start;
    margin: 1rem;
}

.card-body h3{
    color: #272b36;
    margin: 0;
    padding: 0;
}

.card-description{
    color: #93969d;
}

.card-image img{
    overflow: hidden;
    height: 250px;
    width: 100%;

}

.card-footer{
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 700;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

.card-footer img{
    width: 25px;
}
