.card-container{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 250px;
    margin: 20px;
}

.card-image img{
    width: 250px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-footer img{
    width: 35px;
}