
.developer.wrap{
    margin: auto;
}

.developer-container{
  
}

.developer-content{
    max-width: 1300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: auto;
    padding: 2rem;
}

.developer-left img{
    width: 400px;
}   

.developer-right{
    margin-left: 20%;
}

.developer-content p{
    padding-top: 1rem;
    
    font-size: 18px;
}

.developer-content h1{
    font-size: 60px;
}

@media screen and (max-width: 960px) {
    .developer.wrap{
        overflow: hidden;
    }

    .developer-content{
        display: inline-block;
        text-align: center;
    }

    .developer-right{
        width: 70%;
        margin: auto;
    }

    .about-lycee-container img{
        max-width: 70%;
    }

    .developer-right h1{
        padding-top: 2rem;
        font-size: 50px;
    }
}   